*.h5
*.weights
*.tar
*.tfrecord
face_detection/checkpoints/*
face_detection/serving/*
face_detection/logs/
face_detection/Untitled.ipynb
face_detection/output.jpg
face_detection/data/voc2012_raw/
face_detection/data/
face_detection/venv/
gender_reco/venv/
gender_reco/data/
gender_reco/saved_model/
hat_classifier/data/hat/
hat_classifier/data/no_hat/
hat_classifier/saved_model/
model_hair_loss_level/saved_model/
model_hair_loss_level/outputs/
model_hair_loss_level/venv/
*/__pycache__/*
venv/